<br />
<div class="login-container">
  <h4>Customer Registration</h4>
  <form [formGroup]="signUpForm" #formDirective="ngForm">
    <div class="p-field p-col-12 p-md-6 mb-3">
      <span class="p-float-label label-sapacing p-input-icon-left">
        <!-- <i class="pi pi-user" [ngClass]="submitted && f['name'].errors?.['required'] ? 'dirtyIcon' : ' '"></i> -->
        <input [ngClass]="submitted && f['firstName'].errors?.['required'] ? 'ng-dirty ng-invalid' : ' '" type="text"
          formControlName="firstName" pInputText />
        <label for="inputtext-left">FirstName</label>
      </span>
      <div *ngIf="submitted && f['firstName'].errors" class="p-error" style="margin-top: 2px">
        <div class="test" *ngIf="f['firstName'].errors['required']">
          FirstName is required
        </div>
      </div>
    </div>
    <br>
    <div class="p-field p-col-12 p-md-6 mb-3">
      <span class="p-float-label label-sapacing p-input-icon-left">
        <!-- <i class="pi pi-user" [ngClass]="submitted && f['name'].errors?.['required'] ? 'dirtyIcon' : ' '"></i> -->
        <input [ngClass]="submitted && f['lastName'].errors?.['required'] ? 'ng-dirty ng-invalid' : ' '" type="text"
          formControlName="lastName" pInputText />
        <label for="inputtext-left">LastName</label>
      </span>
      <div *ngIf="submitted && f['lastName'].errors" class="p-error" style="margin-top: 2px">
        <div class="test" *ngIf="f['lastName'].errors['required']">
          LastName is required
        </div>
      </div>
    </div>
    <br>
    <div class="p-field p-col-12 p-md-6 mb-3">
      <span class="p-float-label label-sapacing p-input-icon-left">
        <!-- <i class="pi pi-user" [ngClass]="submitted && f['name'].errors?.['required'] ? 'dirtyIcon' : ' '"></i> -->
          <p-calendar  dateFormat="mm/dd/yy" [ngClass]="submitted && f['dateOfBirth'].errors?.['required'] ? 'ng-dirty ng-invalid' : ' '" type="text"
          formControlName="dateOfBirth"></p-calendar>
        <label for="inputtext-left">DateOfBirth</label>
      </span>
      <div *ngIf="submitted && f['dateOfBirth'].errors" class="p-error" style="margin-top: 2px">
        <div class="test" *ngIf="f['dateOfBirth'].errors['required']">
          DateOfBirth is required
        </div>
      </div>
    </div>
    <br>
    <div class="p-field p-col-12 p-md-6 mb-3">
      <span class="p-float-label label-sapacing p-input-icon-left">
        <!-- <i class="pi pi-user" [ngClass]="submitted && f['name'].errors?.['required'] ? 'dirtyIcon' : ' '"></i> -->
        <input [ngClass]="submitted && f['streetAddress'].errors?.['required'] ? 'ng-dirty ng-invalid' : ' '" type="text"
          formControlName="streetAddress" pInputText />
        <label for="inputtext-left">StreetAddress</label>
      </span>
      <div *ngIf="submitted && f['streetAddress'].errors" class="p-error" style="margin-top: 2px">
        <div class="test" *ngIf="f['streetAddress'].errors['required']">
          StreetAddress is required
        </div>
      </div>
    </div>
    <br>
    <div class="p-field p-col-12 p-md-6 mb-3">
      <span class="p-float-label label-sapacing p-input-icon-left">
        <!-- <i class="pi pi-user" [ngClass]="submitted && f['name'].errors?.['required'] ? 'dirtyIcon' : ' '"></i> -->
        <input [ngClass]="submitted && f['city'].errors?.['required'] ? 'ng-dirty ng-invalid' : ' '" type="text"
          formControlName="city" pInputText />
        <label for="inputtext-left">City</label>
      </span>
      <div *ngIf="submitted && f['city'].errors" class="p-error" style="margin-top: 2px">
        <div class="test" *ngIf="f['city'].errors['required']">
          City is required
        </div>
      </div>
    </div>
    <br>
    <div class="p-field p-col-12 p-md-6 mb-3">
      <span class="p-float-label label-sapacing p-input-icon-left">
        <!-- <i class="pi pi-user" [ngClass]="submitted && f['name'].errors?.['required'] ? 'dirtyIcon' : ' '"></i> -->
        <input [ngClass]="submitted && f['state'].errors?.['required'] ? 'ng-dirty ng-invalid' : ' '" type="text"
          formControlName="state" pInputText />
        <label for="inputtext-left">State</label>
      </span>
      <div *ngIf="submitted && f['state'].errors" class="p-error" style="margin-top: 2px">
        <div class="test" *ngIf="f['state'].errors['required']">
          State is required
        </div>
      </div>
    </div>
    <br>
    <div class="p-field p-col-12 p-md-6 mb-3">
      <span class="p-float-label label-sapacing p-input-icon-left">
        <!-- <i class="pi pi-user" [ngClass]="submitted && f['name'].errors?.['required'] ? 'dirtyIcon' : ' '"></i> -->
        <input [ngClass]="submitted && f['zipcode'].errors?.['required'] ? 'ng-dirty ng-invalid' : ' '" type="text"
          formControlName="zipcode" pInputText />
        <label for="inputtext-left">Zipcode</label>
      </span>
      <div *ngIf="submitted && f['zipcode'].errors" class="p-error" style="margin-top: 2px">
        <div class="test" *ngIf="f['zipcode'].errors['required']">
          Zipcode is required
        </div>
      </div>
    </div>
    <br>
      <div class="p-field p-col-12 p-md-6 mb-3">
        <span class="p-float-label label-sapacing p-input-icon-left">
          <input [ngClass]="submitted && f['userName'].errors?.['required'] ? 'ng-dirty ng-invalid' : ' '" type="text"
            formControlName="userName" pInputText />
          <label for="inputtext-left">userName</label>
        </span>
        <div *ngIf="submitted && f['userName'].errors" class="p-error" style="margin-top: 2px">
          <div class="test" *ngIf="f['userName'].errors['required']">
            UserName is required
          </div>
        </div>
      </div>
      <br />
      <div class="p-field p-col-12 p-md">
        <span class="p-float-label label-sapacing p-input-icon-left">
          <input [type]="fieldTextType ? 'text' : 'password'" pInputText formControlName="password"
            [ngClass]="submitted && f['password'].errors?.['required'] ? 'ng-dirty ng-invalid' : ' '" />
          <i class="pi showPasswordIcon" >
          </i>
          <i class="pi showPasswordIcon" [ngClass]="{
                          'pi-eye-slash': !fieldTextType,
                          'pi-eye': fieldTextType
                        }" (click)="fieldTextType = !fieldTextType">
          </i>
          <label for="inputtext-left">Password</label>
        </span>
        <div *ngIf="submitted && f['password'].errors" class="p-error mr-6" style="margin-top: 2px">
          <div *ngIf="f['password'].errors['required']">
            Password is required
          </div>
          <div class="ml-6" *ngIf="f['password'].errors['minlength']">
            Password is minimum of 8 characters
          </div>
        </div>
      </div>
  </form>
  <br>
  <p-button type="submit" label="Signup" [loading]="loading" iconPos="right" (click)="signUp()"></p-button>
</div>
<br />
<br />