<br />
<div class="login-container">
  <h4>Customer Login</h4>
  <br />
    <form [formGroup]="signInForm">
        <div class="p-field p-col-12 p-md-6 mb-3">
          <span class="p-float-label p-input-icon-left">
            <i class="pi pi-user" [ngClass]="submitted && f['userName'].errors?.['required'] ? 'dirtyIcon' : ' '"></i>
            <input [ngClass]="submitted && f['userName'].errors?.['required'] ? 'ng-dirty ng-invalid' : ' '" type="text"
              formControlName="userName" pInputText />
            <label for="inputtext-left">UserName</label>
          </span>
          <div *ngIf="submitted && f['userName'].errors" class="p-error" style="margin-top: 2px">
            <div class="test" *ngIf="f['userName'].errors['required']">
              UserName is required
            </div>
          </div>
        </div>
      <br />
      <div class="p-field p-col-12 p-md">
        <span class="p-float-label p-input-icon-left">
          <i class="pi pi-lock" [ngClass]="submitted && f['password'].errors?.['required'] ? 'dirtyIcon' : ' '"></i>
          <input [type]="fieldTextType ? 'text' : 'password'" pInputText formControlName="password"
            [ngClass]="submitted && f['password'].errors?.['required'] ? 'ng-dirty ng-invalid' : ' '" />
          <i class="pi showPasswordIcon" [ngClass]="{
                    'pi-eye-slash': !fieldTextType,
                    'pi-eye': fieldTextType
                  }" (click)="fieldTextType = !fieldTextType">
          </i>
          <label for="inputtext-left">Password</label>
        </span>
        <div *ngIf="submitted && f['password'].errors" class="p-error mr-6" style="margin-top: 2px">
          <div *ngIf="f['password'].errors['required']">
            Password is required
          </div>
          <div class="ml-6" *ngIf="f['password'].errors['minlength']">
            Password is minimum of 8 characters
          </div>
        </div>
      </div>
    </form><br/> 
    <p>
      Don’t you have an account,
      <a href="#" routerLink="/signup">sign up</a>
    </p>
    <br>
    <p-button type="submit" label="Login" [loading]="loading" iconPos="right" (click)="signIn()"></p-button>
</div>